.blog-comment-form-container{
    background-color:#d3d6d8;
    height: 81%;
    padding: 60px;
    
}

.blog-comment-form {
    
    display: flex;
    align-content: center;
    justify-content: center;
    height: 40%;
    
}

