<% include ../partials/header %>
    <div class="form-page">
        <a class="back-button" href="/plants/">BACK</a>
        <div class="form-container">
            <form action="/blogs/<%= blog._id %>?_method=PUT"" method="POST">
                
                <div class="form-title-container form-item">
                    <h2>Edit Blog</h2>
                </div>
                <div class="form-item">
                    <span class="form-item-title">TITLE: </span>
                    <span><input type="text" name="blog[title]" id="formTitle" value="<%=blog.title%>"></span>
                </div>
                <div class="form-item">
                    <span class="form-item-title">IMAGE: </span>
                    <span><input type="text" name="blog[image]" id="formImage" value="<%=blog.image%>"></span>
                </div>
                <div class="form-item">
                    <span class="form-item-title">BODY:</span>
                    <span><textarea id="formBody" name="blog[body]" ><%=blog.body%></textarea></span>
                </div>
                <input type="submit" class="form-item submit-button" class="form-itme">
            
                
            </form>
        </div>
    </div>

<% include ../partials/footer %>