<% include ../partials/header %>
    <div class="form-page">
        <a class="back-button" href="/blogs/<%=blog_id%>">BACK</a>
        <div class="form-container">
            <form action="/blogs" method="POST">       
                <div class="form-title-container form-item">
                    <h2>Create New Blog</h2>
                </div>
                <div class="form-item">
                    <label for="formTitle">TITLE</label>
                    <input type="text" class="form-control" name="blog[title]" id="formTitle" placeholder="Title">
                </div>
                <div class="form-item">
                    <label for="formImage">IMAGE</label>
                    <input type="text" class="form-control" name="blog[image]" id="formImage" placeholder="Image URL">
                </div>
                <div class="form-item">
                    <label for="formBody">BODY</label>
                    <textarea class="form-control" id="formBody" name="blog[body]">Body</textarea>
                </div>
                <input class="form-item submit-button"  type="submit">
                      
            </form>
        </div>
    </div>

<% include ../partials/footer %>