
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROOTED IN NATURE</title>

    <!-- HEADER -->
    <link rel="stylesheet" href="/stylesheets/landing.css">
    
    <!------------------------------- HEADER/FOOTER --------------------------->
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    
    <!-- MAIN APP.JS -->
    <link rel="stylesheet" href="/stylesheets/app.css">
    <!-- LOGIN STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/login.css">
    <!-- REGISTER -->
    <link rel="stylesheet" href="/stylesheets/register.css">
    
    <!------------------------ BUTTONS ------------------------------->
    <link rel="stylesheet" href="/stylesheets/buttons/back-button.css">

    <!------------------------ FORMS------------------------------->
    <link rel="stylesheet" href="/stylesheets/forms/edit-create-new-form.css">

    <!------------------------ PLANT STYLESHEETS ------------------------------->
    <link rel="stylesheet" href="/stylesheets/plants/show.css">
    <link rel="stylesheet" href="/stylesheets/plants/edit.css">
    <link rel="stylesheet" href="/stylesheets/plants/index.css">
    <link rel="stylesheet" href="/stylesheets/plants/dropdown.css">

    <!-- PLANT COMMENTS -->
    <link rel="stylesheet" href="/stylesheets/comments/new.css">
    <link rel="stylesheet" href="/stylesheets/comments/edit.css">
    
    <!-- PLANT KEYS -->
    <link rel="stylesheet" href="/stylesheets/plants/keys/index.css">


    <!------------------------ BLOG STYLESHEETS -------------------------------->
    <link rel="stylesheet" href="/stylesheets/blogs/index.css">
    <link rel="stylesheet" href="/stylesheets/blogs/show.css">
    <link rel="stylesheet" href="/stylesheets/blogs/new.css">

    <!-- BLOG COMMENTS -->
    <link rel="stylesheet" href="/stylesheets/blogComments/new.css">
    <link rel="stylesheet" href="/stylesheets/blogComments/edit.css">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">


</head>

<body>
    <div class="page-header">(RootedInNature)<sup>2</sup></div>
    <svg width="100vw" height="260px" id="navbar-svg">

    </svg>
    <nav class="navbar">
        <div class="navbar-links">
            <div class='navbar-item-container'><a href="/">
                    <div class="navbar-item">Home</div>
                </a></div>
            <div class='navbar-item-container'><a href="/blogs">
                    <div class="navbar-item">Blogs</div>
                </a></div>
            <div class='navbar-item-container'>
                <a>
                    <div class="navbar-item" id="navbar-plants">
                        Plants
                    </div>
                </a>
                <div id="plant-dropdown" class="dropdown-hidden">
                    <a href="/plants/new">
                        <div class="p-item dropdown-item-hidden">CREATE</div>
                    </a>
                    <a href="/plants">
                        <div class="p-item dropdown-item-hidden">VIEW</div>
                    </a>
                    <a href="/plants/keys">
                        <div class="p-item dropdown-item-hidden">KEYS</div>
                    </a>
                    <a href="/plants/groups">
                        <div class="p-item dropdown-item-hidden">GROUPS</div>
                    </a>
                    <a href="/plants/families">
                        <div class="p-item dropdown-item-hidden">FAMILIES</div>
                    </a>
                </div>
            </div>
            <div class='navbar-item-container'><a href="/math">
                    <div class="navbar-item">Math</div>
                </a></div>
            <div class="right-links">
                <%if(!currentUser){%>
                <a href="/login" class="">Login</a>
                <a href="/register" class="">Register</a>
                <%}else{%>
                <a id="signed-in-text">Signed In As '<%=currentUser.username%>'</a>
                <a href="/logout" class="">Logout</a>
                <%}%>
            </div>


        </div>

        <div class="container p-0 m-0" style="width:100vw;" >
                <% if(error && error.length > 0){ %>
            <div class="alert alert-danger m-0" style="width:100vw;" role="alert">
                <%= error %>
            </div>
            <% } %>
            <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
        </div> 

    </nav>




