<% include ./partials/header %>
    <div class="form-page">
        <a class="back-button" href="/plants/">BACK</a>
        <div class="form-container">
            <form action="/register" method="POST">
                <div class="form-title-container form-item">
                    <h2>BECOME ROOTED IN NATURE</h2>
                </div>
                <div class="form-item new-plant-post-genus">
                    <span class="form-item-title">Username: </span>
                    <span><input type="text" name="username" placeholder="Username"><br></span>
                </div>
                <div class="form-item">
                    <span class="form-item-title">Password:</span>
                    <span><input type="password" name="password" placeholder="Password"><br></span>
                </div>
                <input type="submit" name="submit" class="submit-button form-item">
            </form>
        </div>
    </div>
<% include ./partials/footer %>