<% include ./partials/header %>
    <div class="register-form-container">
        <h1>BECOME ROOTED IN NATURE</h1>

        <form class="register-form" action="/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Submit">
        </form>
    </div>

<% include ./partials/footer %>