/* FOOTER */
.footer {
    background-color:   #2C3E50 !important;
    height: 130px; /* 15vh*/
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.footer i {
    margin: 20px;
    color: white;
}

.footer a{
    color: black !important;
}