#landing-page-container{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url('https://i.imgur.com/YYFuJvr.jpg?1');
    background-size: cover;
}

.rectangle{
    height: 10px;
    background-color: #fca349;
    position: relative;
}
#landing-main-page{
    position: absolute;
    bottom: 230px;
    left: 30px;
    font-family: 'VT323', monospace;
    font-size: 50px;
    color: #fca349;

}