<% include ../partials/header %>

    <div class="plant-edit-comment-form-container">
        <a class="back-button" href="/plants/<%=plant_id%>">BACK</a>
        
        <form class="plant-edit-comment-form" action="/plants/<%= plant_id %>/comments/<%= comment._id %>?_method=PUT"
            method="POST">
            <div class="container">
                <h2>Edit Comment</h2>
                <input type="text" class="form-control" name="comment[comment]" id="formPost" value="<%= comment.comment%>">
                <button class="btn btn-sm btn-dark mt-2">Submit</button>
            </div>

        </form>
    </div>


<% include ../partials/footer %>

