body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(161, 245, 241);

}

#plant-family-key-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#family-key-title{
    text-align: center;
    width: 100%;
    font-size: 40px;
    
    background-color: lightseagreen;
    height: 50px;
    padding: 20px;
    color: rgb(161, 245, 241);

}
#key-choice-container{
    width: 500px;
}
.key-choice{
    margin-top: 20px;
    padding: 15px;
    background-color: lightseagreen;
}
.key-choice a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 3px;
    margin-top: 1px;
}
.next-button{
    
    padding: 2px 5px;
    border-radius: 10px;
    margin-top: 1px;
    background-color: rgb(19, 110, 106);
    color: white;
}

.tooltip:hover:after {
    content: attr(title);
}
.tooltip {
    /* https://aninnovativeweb.tumblr.com/post/820491172/semantic-tooltips-with-pure-css3-and-html5 
    https://www.scriptol.com/css/tooltip.php*/
    border-bottom: 1px dotted #333;
    position: relative;
    cursor: pointer;
    }
.tooltip span {
    display:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:black;
    background:white; 
    }
.tooltip span img {
    float:left;
    margin:0px 8px 8px 0;
    width: 20px;
    }
.tooltip:hover span {
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:auto;
    max-width:320px;
    min-height:128px;
    border:1px solid black;
    margin-top:12px;
    margin-left:32px;
    overflow:hidden;
    padding:8px;
    }
/* .tooltip:hover:after {
    content: attr(title);
    position: absolute;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.85);
    padding: 3px 7px;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-left: 7px;
    margin-top: -3px;
    } */
