<% include ../../partials/header %>
    <div id="key-page-container">
        <div id="group-key-selection-container">
            <% groups.forEach(group=>{ %>
                <div><a href="keys/<%=group.group%>"><%=group.name%></a></div>
            <% }) %>
        </div>
    </div>
<% include ../../partials/footer %>
