/* NEW PLANT COMMENT PAGE */


.plant-edit-comment-form-container{
    
    background-color:#d3d6d8;
    height: 81%;
    padding: 60px;
        
}


.plant-edit-comment-form {
    
    display: flex;
    align-content: center;
    justify-content: center;
    height: 40%;
    
}

.plant-edit-comment-form div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.back-button{  
    padding: 0px !important;
    background:#d3d6d8;  
    text-decoration: none;
    color:#2C3E50 !important;
}
.back-button:hover {
    text-decoration: none;
    font-weight: bold;
}