<% include partials/header %>

<div class="home-descriptions">
    <!-- This will hold a scroll sideways section, with an image behind and
        descriptions of each section-->
    <div class="logo">
        <img src="https://i.imgur.com/7oX2AEA.png" alt="">
    </div>
    <!--<div id="about-home-descriptions">
        <h1>ABOUT</h1>
        Description of the page with a picture behind
        <p>The goal of this website is to hopefully allow people to see math, programming
            and nature can be one in the same. I hope to encourage people to go outside
            and see the beauty of the world while also taking into account where the future
            is headed. </p>
    </div>-->
</div>

<% include partials/footer %>