
.plant-box-container {
    height: 81%;
    width: 100%;
    background-color:#4CA1AF;
    display:flex;
    /* Allow plant boxes to start new row when needed */
    flex-wrap: wrap;
    /* Prevent the boxes from overlapping the footer when screen size changes */
    overflow: auto;

    /* Place the cards in the center of the screen */
    justify-content: center;
}

.plant-card-container{
    width: 200px;
    height: 260px;
    margin-top: 0.8rem;
    background-color: blanchedalmond;
    padding: 5px;
    text-align: center;
}

.plant-card-container img{
    margin-bottom: 5px;
    width: 100%;
    height: 140px;
}

h6 {
    font-size: 13px !important;
}

.plant-card-body {
    
    display: flex;
    width: 100%;
    height: 120px;
    flex-direction: column;
    
    justify-content: space-between;
    
    
    
    
    
}
.plant-card-body h6{
    margin-top: 10px;
}
.plant-card-body a {
    justify-self: flex-end;
    margin-bottom: 17px;
}
.column{
    /* Center the plant cards in their column so when get to mobile they are one row in the center
    of the screen */
    display: flex;
    justify-content: center;
}