.new-plant-post-form-container{
    background-color:#d3d6d8;
    height: 81%;
    padding: 60px;

}

.new-plant-post-form {
    display: flex;
    
    align-content: center;
    justify-content: center;
    height: 40%;
}

.new-plant-post-title{
    text-align: center;
}

.new-plant-container > div{
        display: flex;
    
    align-content: center;
    justify-content: center;
}