

.form-page{
    height: 100%;
    width: 100%;
    background-color: rgb(25, 98, 255);
    padding-top: 20px;
    position: absolute;
    
}
.form-container{
    width: 360px;
    background-color: rgb(233, 225, 225);
    padding: 20px;
    margin: 0 auto;
    border: 5px solid grey;
}


.form-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'VT323', monospace;
    padding: 5px;
}
.form-item input,textarea{
    all: unset;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;
    padding-left: 5px;
}

.form-item textarea{
    height: 100px;
}
.new-plant-post-title{
    justify-content: center;
    font-family: 'VT323', monospace;
    width: 100%;
    font-size: 25px;
}
#submit-button{
    all: unset;
    width: 100%;
    border: 1px grey solid;
    background-color: lightgray;
    text-align: center;
    padding: 3px;
    margin-top: 5px;
    font-family: 'VT323', monospace;
}
.form-item-title{

}
.plant-create-outcome{
    /* Prints whether a new post was created or not */
    position: relative;
    top: 300px;
}

#back-button{
    margin-left: 20px;
    font-family: 'VT323', monospace;
    color: #49fc91 !important;
    font-size: 25px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #49fc91 !important;
}