

/* UI gradient styles to toggle */
.plant {
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(189, 215, 241), rgb(124, 154, 184));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(189, 215, 241), rgb(124, 154, 184)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.plant1 {
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.plant2 {
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.plant3 {
    background: #3a7bd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.plant-post-comment-background-button{
    display:flex;
    justify-content: center;
}
/* PLANT SHOW PAGE */

.plant-comments-container h5{
    text-align: center;
    background-color: #2C3E50;
    color: white;
    margin:0;
    -webkit-box-shadow: 14px -6px 36px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px -6px 36px -5px rgba(0,0,0,0.75);
    box-shadow: 14px -6px 36px -5px rgba(0,0,0,0.75);

}

.plant-comments-container.media {
    border: solid #2C3E50 2px;
    border-top: none; 
    margin:0;
    background-color: rgb(198, 220, 241);
    -webkit-box-shadow: 14px -1px 43px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px -1px 43px -15px rgba(0,0,0,0.75);
    box-shadow: 14px -1px 43px -15px rgba(0,0,0,0.75);
}

.plant-header{
    font-weight: 800;
}
.plant-image{
    -webkit-box-shadow: 15px -9px 56px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px -9px 56px -16px rgba(0,0,0,0.75);
    box-shadow: 15px -9px 56px -16px rgba(0,0,0,0.75);
    height: 350px;
    border: solid #2C3E50 15px;
    margin-top: 5%;
     
    
}

@media(max-width: 544px){
    .plant-image{
        width: 90vw;
    }
}

.plant-edit-delete-buttons-container{
    display:flex;
    padding: 10px 10px 10px 0;
    justify-content: flex-end;
    
    
}


.plant-edit-delete-buttons-container a{
    margin-right: 10px;
    
}

.plant-comments-edit-delete-button-container{
    display:flex;
    padding-bottom: 10px;
    justify-content: flex-end;
    padding-right: 20px;
}

.plant-comments-edit-button, .plant-comments-delete-button{
    background-color: #2C3E50 !important;
    border: #2C3E50 !important;
}

.plant-comment-background-button{
    display:flex;
    justify-content: center;
}
.plant-add-comment, .plant-change-background{
    margin: 10px;
    background-color: #2C3E50 !important;
    border: #2C3E50 !important;
    color: white;
    
}

.plant-edit-delete-buttons-container{
    display:flex;
    justify-content: center;

}


.plant-post-add-comment, .plant-post-change-background{
    margin: 10px;
    background-color: #2C3E50 !important;
    border: #2C3E50 !important;
    
}

#back-button{
    margin-left: 20px;
    font-family: 'VT323', monospace;
    color: #2C3E50 ;
    font-size: 25px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid#2C3E50 ;
    margin-top: 20px;
}
#back-button-container{
    padding: 10px;
    height: 50px;
}