
.back-button{
    margin-left: 20px;
    font-family: 'VT323', monospace;
    color: #49fc91 !important;
    font-size: 25px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #49fc91 !important;
}

.back-button:hover {
    font-weight: bold;
    border: 2px solid #49fc91 !important;

}